
{% extends 'layout/layout.html' %}

{% block content %}

    <div class="wrapper">
        <div class="page px mt mb">

            <!-- <div class="preview__image" style="width:100%">
                <img id="image" src="{{ url.for('sport', 'jpg') }}" alt="Image Preview" style="display:block;max-width:100%;" />
            </div>
            <br /> -->

            <form action="{{ url.for('admin/editForm') }}" method="post" enctype="multipart/form-data" class="form">
                <fieldset class="w-100">
                    <h2>Создать пост</h2>
                    <div class="field">
                        <label for="title">{{ form.getFieldLabel('title') }}</label>
                        <input id="title" type="text" name="title" />
                    </div>
                    <div class="field">
                        <label for="metaDesc">{{ form.getFieldLabel('meta_desc') }}</label>
                        <input id="metaDesc" type="text" name="meta_desc" />
                    </div>

                    <div class="row">
                        <div class="col col-lg-4">
                            <div class="field">
                                <label for="postFormat">{{ form.getFieldLabel('format') }}</label>
                                <select name="format" id="postFormat">
                                    <option value="image" value="image">Изображение</option>
                                    <option value="video" value="video">Видео</option>
                                </select>
                            </div>
                            <div class="field field--file">
                                <input id="userFile" type="file" name="userfile" />
                            </div>
                            <div class="field">
                                <input id="videoUrl" type="text" name="videourl" />
                            </div>
                        </div>
                        <div class="col col-lg-8">
                            <div class="preview" id="Preview">
                                <div class="preview__image">
                                    <img src="" alt="Image Preview" />
                                </div>
                                <div class="preview__video youtube-embed">
                                    <iframe
                                        width="853"
                                        height="480"
                                        src=""
                                        title=""
                                        frameborder="0"
                                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                                        allowfullscreen>
                                    </iframe>
                                </div>
                                <span class="preview__default-text previewDefault">Preview</span>
                            </div>
                        </div>
                    </div>

                    <div class="field">
                        <label for="content">{{ form.getFieldLabel('content') }}</label>
                        <textarea id="content" type="text" name="content"></textarea>
                    </div>
                    <div class="field">
                        <label for="postStatus">{{ form.getFieldLabel('status') }}</label>
                        <select id="status" name="status" id="postStatus">
                            <option value="pending">на модерации</option>
                            <option value="published">опубликовано</option>
                            <option value="removed">удалено</option>
                        </select>
                    </div>
                    <div class="field">
                        <label for="published_at">{{ form.getFieldLabel('published_at') }}</label>
                        <input type="text" name="published_at" />
                    </div>
                    <button type="submit" class="form__btn btn btn--primary">Сохранить</button>
                </fieldset>
            </form>
        </div>
    </div>

    <div class="modal" id="modal">
        <div class="modal__backdrop"></div>
        <div class="modal__body">
            <div class="cropper">
                <div class="cropper__main">
                    <img id="userImage" class="cropper__image" src="">
                    <span class="cropper__text">Вы можете обрезать изображение перед загрузкой</span>
                </div>
                <div class="cropper__aside">
                    <div class="cropper__preview cropperPreview"></div>
                    <div class="cropper__info">
                        <div>Width: <span id="croppedImgWidth"></span></div>
                        <div>Height: <span id="croppedImgHeight"></span></div>
                    </div>
                    <div class="cropper__buttons">
                        <button class="btn btn--secondary" id="cropperCropBtn">Crop</button>
                        <button class="btn btn--thirtary" id="cropperCancelBtn">Cancel</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
