{% extends 'layout/layout.twig' %}

{% block content %}

<section class="main">
    <div class="centered-msg-box">

        <h2>Восстановление доступа</h2>

        <p>
            Пожалуйста, проверьте вашу эл. почту!<br />
            Вам было отправлено письмо со ссылкой для сброса пароля.
        </p>

    </div>
</section>

{% endblock %}
