{% extends 'layout/layout.html' %}

{% block content %}

<form id="emailForm" action="{{ url.for('password-reset/email-form') }}" method="POST" class="form">
    <fieldset>
        <h2 class="form__title">Восстановление доступа</h2>

        <div class="field">
            <input id="email" type="email" name="email" value="" placeholder="{{ form.getFieldLabel('email') }}" />
        </div>

        <button class="form__btn btn btn--primary" type="submit">Отправить</button>
    </fieldset>
</form>

{% endblock %}