{% extends 'layout/layout.html' %}

{% block content %}

<form id="passwordResetForm" action="{{ url.for('password-reset/reset-form') }}" method="POST" class="form">
    <fieldset>
        <h2 class="form__title">Восстановление доступа</h2>

        {% if form.getErrors()|length > 0 %}
            <ul class="form__errors">
                {% for error in form.getErrors() %}
                    <li>{{ error }}</li>
                {% endfor %}
            </ul>
        {% endif %}

        <input type="hidden" name="token" value="{{ token }}" />

        <div class="field field--password">
            <input id="password" type="password" name="password" value="" placeholder="{{ form.getFieldLabel('password') }}" />
            <i class="icon icon--eye" id="togglePassword"></i>
        </div>

        <button class="form__btn btn btn--primary" type="submit">Сменить пароль</button>
    </fieldset>
</form>

{% endblock %}