{% extends 'layout/layout.twig' %}

{% block content %}

        <section class="main">
            <form id="loginForm" action="{{ url.for('password/reset-form') }}" method="POST">
                <fieldset>
                    <h2>Восстановить пароль</h2>

                    {% if errors|length > 0 %}
                        <ul class="error">
                            {% for error in errors %}<li>{{ error }}</li>{% endfor %}
                        </ul>
                    {% endif %}

                    <div>
                        <input id="email" type="email" name="email" value="" placeholder="{{ form.getFieldLabel('email') }}" />
                    </div>

                    <div>
                        <button type="submit">Отправить</button>
                    </div>
                </fieldset>
            </form>
        </section>

    </div>

{% endblock %}