<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Andika:wght@400;700&family=Open+Sans:wght@300;400;500;600;700;800&family=Istok+Web&family=Syncopate:wght@700&display=swap" rel="stylesheet">

    <script src="https://kit.fontawesome.com/{{ key.fontawesome.embed_code }}.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{{ url.for('main', 'css') }}">
    <title>Iusupov G</title>
</head>
<body>

    <header class="wrapper w-100">

        {% include 'partials/posts-gallery.html' %}

        <nav class="main-nav px">
            <div class="logo">iu.g.</div>
            <div class="search-box">
                <input id="searchField" type="text" name="search" placeholder="Search..." />
                <i id="magnifiying" class="icon icon--magnifiying"></i>
            </div>
        </nav>
    </header>

    <!-- {% for item in menuReader.read(url, auth.isLoggedIn()) %}
        <li>
            <a href="{{ item.url }}">{{ item.text }}</a>
        </li>
    {% endfor %} -->

    <main>
        <div class="page">
            <div class="page__main w-100 px">
                {% if successMessage %}
                    <p class="success">{{ successMessage }}</p>
                {% endif %}
                {% if (auth.isLoggedIn()) %}
                    <p class="success">Hello, <strong>{{ auth.user.attr('username') }}</strong>!</p>
                {% endif %}

                {% block content %}{% endblock %}
            </div>
        </div>

        <div class="wrapper bg-dark">
            <div class="page px">
                {% include 'partials/video-section.html' %}
            </div>
        </div>

        <div class="wrapper">
            <div class="page px">
                {% include 'partials/subscribe.html' %}
            </div>
        </div>

        <div class="wrapper">
            <div class="page px mb">
                {% include 'partials/contact-form.html' %}
            </div>
        </div>
    </main>

    <footer class="wrapper w-100 px">
        <div class="footer row">
            <div class="col d-none lg-d-block col-lg-4"></div>
            <div class="col col-lg-4">
                <div class="logo">IU.G.</div>
            </div>
            <div class="col col-lg-4">
                <p class="copyright">Copyright &copy; 2022 iusupovg</p>
            </div>
        </div>
    </footer>

    <div class="layer"></div>

    <script src="{{ url.for('main', 'js') }}"></script>
</body>
</html>