<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Andika:wght@400;700&family=Open+Sans:wght@300;400;500;600;700;800&family=Istok+Web&family=Syncopate:wght@700&display=swap" rel="stylesheet">

    <script src="https://kit.fontawesome.com/{{ key.fontawesome.embed_code }}.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{{ url.for('main', 'css') }}">
    <title>Iusupov G</title>
</head>
<body>

    <header class="wrapper w-100">

        {% if handler == 'HomeHandler' %}
            {% include 'partials/posts-gallery.html' %}
        {% endif %}

        <nav class="main-nav px">
            <div class="logo"><a href="{{ url.for("/") }}">iu.g.</a></div>
            <div class="search-box">
                <input id="searchField" type="text" name="search" placeholder="Search..." />
                <i id="magnifiying" class="icon icon--magnifiying"></i>
            </div>
            {% if (auth.isLoggedIn()) %}
                <p class="text-white px">
                    <strong>{{ auth.user.attr('username') }}</strong> |
                    <a href="{{ url.for('admin/edit') }}" class="simple-link text-white">dashboard</a>
                </p>
            {% endif %}
        </nav>

        <!-- {% for item in menuReader.read(url, auth.isLoggedIn()) %}
            <li>
                <a href="{{ item.url }}">{{ item.text }}</a>
            </li>
        {% endfor %} -->
    </header>

    <main>
        {% if successMessage %}
            <div class="alert alert--success">
                {{ successMessage }}
                <span class="alert__times closeTimes">&times;</span>
            </div>
        {% endif %}

        {% block content %}{% endblock %}
    </main>

    <footer class="wrapper w-100 px">
        <div class="footer row">
            <div class="col d-none lg-d-block col-lg-4"></div>
            <div class="col col-lg-4">
                <div class="logo">IU.G.</div>
            </div>
            <div class="col col-lg-4">
                <p class="copyright">Copyright &copy; 2022 iusupovg</p>
            </div>
        </div>
    </footer>

    <div class="layer"></div>

    {% set obj = {
            handler: handler,
            action: action,
        }
    %}
    <script>
        var app = '{{ obj | json_encode | raw }}';
    </script>
    <script src="{{ url.for('main', 'js') }}"></script>

    {% if handler == 'AdminHandler' %}
        <script src="{{ url.for('admin', 'js') }}"></script>
    {% endif %}

</body>
</html>
