<div class="contact mb">
    <div class="row">
        <div class="col col-lg-6">
            <div class="contact__img">
                <img src="img/sport-trek-shosse.jpg" alt="">
            </div>
        </div>
        <div class="col col-lg-6">
            <h2>Отправить сообщение</h2>
            <form action="" method="post">
                <input type="text" name="name" placeholder="Имя" value="" />
                <input type="text" name="email" placeholder="Email" value="" />
                <textarea name="" id="" cols="30" rows="10" placeholder="Ваше сообщение"></textarea>
                <div class="captcha">
                    <img src="{{ url.for('captcha/create') }}" />
                    <input type="text" name="captcha" placeholder="Код">
                    <button class="btn btn--primary">Отправить</button>
                </div>
            </form>
        </div>
    </div>
</div>
