<div class="gallery">
    <div class="gallery__item">
        <div class="card">
            <img class="card__img" src="{{ url.for('pic1', 'jpg') }}" alt="">
            <div class="card__caption">
                <h2>February Things</h2>
                <div class="post-date">19 / 08 / 2022</div>
            </div>
        </div>
    </div>
    <div class="gallery__item">
        <div class="card">
            <img class="card__img" src="{{ url.for('pic2', 'jpg') }}" alt="">
            <div class="card__caption">
                <h2>Beauty Routine</h2>
                <div class="post-date">19 / 08 / 2022</div>
            </div>
        </div>
    </div>
    <div class="gallery__item">
        <div class="card">
            <img class="card__img" src="{{ url.for('pic3', 'jpg') }}" alt="">
            <div class="card__caption">
                <h2>Hair for Spring</h2>
                <div class="post-date">19 / 08 / 2022</div>
            </div>
        </div>
    </div>
    <div class="gallery__item">
        <div class="card">
            <img class="card__img" src="{{ url.for('pic4', 'jpg') }}" alt="">
            <div class="card__caption">
                <h2>Love in Las Vegas</h2>
                <div class="post-date">19 / 08 / 2022</div>
            </div>
        </div>
    </div>
    <div class="gallery__item">
        <div class="card">
            <img class="card__img" src="{{ url.for('pic5', 'jpg') }}" alt="">
            <div class="card__caption">
                <h2>Hudson Yards</h2>
                <div class="post-date">19 / 08 / 2022</div>
            </div>
        </div>
    </div>
</div>
