<div class="media mb">
    <div class="media__meta">
        <h2 class="title">5 вещей, понравившиеся мне недавно</h2>
        <span class="media__cta">Посмотреть <i class="icon icon--chevron-right"></i></span>
        <span class="media__info"><i class="icon icon--youtube"></i>12К Youtube подписчиков</span>
    </div>
    <div class="media__content">
        <img class="media__play-video" src="./img/thumb1.jpg" />
        <button class="media__btn video-play-btn" id="openVideoBtn"></button>
    </div>
    <div class="media__video">
        <div class="media__close" id="closeVideoBtn">&times;</div>
        <div class="youtube-embed">
            <!-- <iframe
                id="featuredVideo"
                data-url="https://www.youtube.com/embed/UTHgr6NLeEw?rel=0&showinfo=0&autohide=1"
                width="853" height="480"
                src=""
                title="Make Awesome SVG Animations with CSS // 7 Useful Techniques"
                frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen>
            </iframe> -->
            <!-- <iframe
                id="featuredVideo"
                data-url="https://www.youtube.com/embed/qoSksQ4s_hg"
                width="853"
                height="480"
                src=""
                title="JavaScript Tutorial For Beginners 01 - Introduction"
                frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen>
            </iframe> -->
            <iframe
                id="featuredVideo"
                width="853"
                height="480"
                data-url="https://www.youtube.com/embed/a00NRSFgHsY"
                src=""
                title="5 JavaScript Concepts You HAVE TO KNOW"
                frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen>
            </iframe>
        </div>
    </div>
</div>
