{% extends 'layout/layout.html' %}

{% block content %}

<div class="posts">
    <div class="posts__item posts__item--tall">
        <img class="posts__item-img" src="img/woman.jpg" alt="">
        <div class="posts__item-body">
            <h2 class="title">Crafts for Kids</h2>
            <div class="post-date">19 / 08 / 2022</div>
            <button class="btn btn--primary">Read more</button>
        </div>
    </div>
    <div class="posts__item posts__item--featured">
        <img src="img/hamburger.jpg" alt="">
        <div class="posts__item-body">
            <h2 class="title">Crafts for Kids</h2>
            <div class="post-date">19 / 08 / 2022</div>
            <button class="btn btn--primary">Read more</button>
        </div>
    </div>
    <div class="posts__item">
        <img src="img/building.jpg" alt="">
        <div class="posts__item-body">
            <h2 class="title">Crafts for Kids</h2>
            <div class="post-date">19 / 08 / 2022</div>
            <button class="btn btn--primary">Read more</button>
        </div>
    </div>
    <div class="posts__item posts__item--featured posts__item--short">
        <img src="img/road.jpg" alt="">
        <div class="posts__item-body">
            <h2 class="title">Crafts for Kids</h2>
            <div class="post-date">19 / 08 / 2022</div>
            <button class="btn btn--primary">Read more</button>
        </div>
    </div>
    <div class="posts__item posts__item--tall">
        <img src="img/lady.jpg" alt="">
        <div class="posts__item-body">
            <h2 class="title">Crafts for Kids</h2>
            <div class="post-date">19 / 08 / 2022</div>
            <button class="btn btn--primary">Read more</button>
        </div>
    </div>
    <div class="posts__item">
        <img src="img/slippers.jpg" alt="">
        <div class="posts__item-body">
            <h2 class="title">Crafts for Kids</h2>
            <div class="post-date">19 / 08 / 2022</div>
            <button class="btn btn--primary">Read more</button>
        </div>
    </div>
    <div class="posts__item posts__item--tall">
        <img src="img/dress.jpg" alt="">
        <div class="posts__item-body">
            <h2 class="title">Crafts for Kids</h2>
            <div class="post-date">19 / 08 / 2022</div>
            <button class="btn btn--primary">Read more</button>
        </div>
    </div>
    <div class="posts__item posts__item--featured">
        <img src="img/grapes.jpg" alt="">
        <div class="posts__item-body">
            <h2 class="title">Crafts for Kids</h2>
            <div class="post-date">19 / 08 / 2022</div>
            <button class="btn btn--primary">Read more</button>
        </div>
    </div>
    <div class="posts__item">
        <img src="img/gift.jpg" alt="">
        <div class="posts__item-body">
            <h2 class="title">Crafts for Kids</h2>
            <div class="post-date">19 / 08 / 2022</div>
            <button class="btn btn--primary">Read more</button>
        </div>
    </div>
</div>

{% endblock %}
