{% extends 'layout/layout.html' %}

{% block content %}

<div class="page">
    <div class="page__main w-100 px">

        <div class="page bg-light px">
            <h1 class="main-title">
                Записи программиста
            </h1>
        </div>

        <div class="posts">
            <div class="posts__item posts__item--tall">
                <img class="posts__item-img" src="{{ url.for('woman', 'jpg') }}" alt="">
                <div class="posts__item-body">
                    <h2 class="title"><a href="">Crafts for Kids</a></h2>
                    <div class="post-date">19 / 08 / 2022</div>
                    <button class="btn btn--primary">Далее</button>
                </div>
            </div>
            <div class="posts__item posts__item--featured posts__item--featured-fst">
                <img src="{{ url.for('hamburger', 'jpg') }}" alt="">
                <div class="posts__item-body">
                    <h2 class="title"><a href="">Crafts for Kids</a></h2>
                    <div class="post-date">19 / 08 / 2022</div>
                    <button class="btn btn--primary">Далее</button>
                </div>
            </div>
            <div class="posts__item">
                <img src="{{ url.for('building', 'jpg') }}" alt="">
                <div class="posts__item-body">
                    <h2 class="title"><a href="">Crafts for Kids</a></h2>
                    <div class="post-date">19 / 08 / 2022</div>
                    <button class="btn btn--primary">Далее</button>
                </div>
            </div>
            <div class="posts__item posts__item--featured posts__item--featured-snd">
                <img src="{{ url.for('road', 'jpg') }}" alt="">
                <div class="posts__item-body">
                    <h2 class="title"><a href="">Crafts for Kids</a></h2>
                    <div class="post-date">19 / 08 / 2022</div>
                    <button class="btn btn--primary">Далее</button>
                </div>
            </div>
            <div class="posts__item posts__item--tall">
                <img src="{{ url.for('lady', 'jpg') }}" alt="">
                <div class="posts__item-body">
                    <h2 class="title"><a href="">Crafts for Kids</a></h2>
                    <div class="post-date">19 / 08 / 2022</div>
                    <button class="btn btn--primary">Далее</button>
                </div>
            </div>
            <div class="posts__item">
                <img src="{{ url.for('slippers', 'jpg') }}" alt="">
                <div class="posts__item-body">
                    <h2 class="title"><a href="">Crafts for Kids</a></h2>
                    <div class="post-date">19 / 08 / 2022</div>
                    <button class="btn btn--primary">Далее</button>
                </div>
            </div>
            <div class="posts__item posts__item--tall">
                <img src="{{ url.for('dress', 'jpg') }}" alt="">
                <div class="posts__item-body">
                    <h2 class="title"><a href="">Crafts for Kids</a></h2>
                    <div class="post-date">19 / 08 / 2022</div>
                    <button class="btn btn--primary">Далее</button>
                </div>
            </div>
            <div class="posts__item posts__item--featured posts__item--featured-trd">
                <img src="{{ url.for('grapes', 'jpg') }}" alt="">
                <div class="posts__item-body">
                    <h2 class="title"><a href="">Crafts for Kids</a></h2>
                    <div class="post-date">19 / 08 / 2022</div>
                    <button class="btn btn--primary">Далее</button>
                </div>
            </div>
            <div class="posts__item">
                <img src="{{ url.for('gift', 'jpg') }}" alt="">
                <div class="posts__item-body">
                    <h2 class="title"><a href="">Crafts for Kids</a></h2>
                    <div class="post-date">19 / 08 / 2022</div>
                    <button class="btn btn--primary">Далее</button>
                </div>
            </div>
        </div>

        <!-- <div class="test">
            <p>
                Хотите выучить русский язык или улучшить уровень понимания русского? Если ваш ответ утвердительный, то вы попали в нужное место. На lingua.com есть тексты на русском языке с аудиофайлами и упражнениями для практики и улучшения понимания прочитанного.
            </p>
        </div> -->

    </div>
</div>

<div class="wrapper bg-dark">
    <div class="page px">
        {% include 'partials/video-section.html' %}
    </div>
</div>

<div class="wrapper">
    <div class="page px">
        {% include 'partials/subscribe.html' %}
    </div>
</div>

<div class="wrapper">
    <div class="page px mb">
        {% include 'partials/contact-form.html' %}
    </div>
</div>

{% endblock %}
