{% extends 'layout/layout.html' %}

{% block content %}

<div class="posts">
    <div class="posts__item posts__item--tall">
        <img class="posts__item-img" src="img/woman.jpg" alt="">
        <div class="posts__item-body">
            <h2 class="title">Crafts for Kids</h2>
            <div class="post-date">19 / 08 / 2022</div>
            <button class="btn btn--primary">Read more</button>
        </div>
    </div>
    <div class="posts__item posts__item--featured posts__item--featured-fst">
        <img src="img/hamburger.jpg" alt="">
        <div class="posts__item-body">
            <h2 class="title">Crafts for Kids</h2>
            <div class="post-date">19 / 08 / 2022</div>
            <button class="btn btn--primary">Read more</button>
        </div>
    </div>
    <div class="posts__item">
        <img src="img/building.jpg" alt="">
        <div class="posts__item-body">
            <h2 class="title">Crafts for Kids</h2>
            <div class="post-date">19 / 08 / 2022</div>
            <button class="btn btn--primary">Read more</button>
        </div>
    </div>
    <div class="posts__item posts__item--featured posts__item--featured-snd">
        <img src="img/road.jpg" alt="">
        <div class="posts__item-body">
            <h2 class="title">Crafts for Kids</h2>
            <div class="post-date">19 / 08 / 2022</div>
            <button class="btn btn--primary">Read more</button>
        </div>
    </div>
    <div class="posts__item posts__item--tall">
        <img src="img/lady.jpg" alt="">
        <div class="posts__item-body">
            <h2 class="title">Crafts for Kids</h2>
            <div class="post-date">19 / 08 / 2022</div>
            <button class="btn btn--primary">Read more</button>
        </div>
    </div>
    <div class="posts__item">
        <img src="img/slippers.jpg" alt="">
        <div class="posts__item-body">
            <h2 class="title">Crafts for Kids</h2>
            <div class="post-date">19 / 08 / 2022</div>
            <button class="btn btn--primary">Read more</button>
        </div>
    </div>
    <div class="posts__item posts__item--tall">
        <img src="img/dress.jpg" alt="">
        <div class="posts__item-body">
            <h2 class="title">Crafts for Kids</h2>
            <div class="post-date">19 / 08 / 2022</div>
            <button class="btn btn--primary">Read more</button>
        </div>
    </div>
    <div class="posts__item posts__item--featured posts__item--featured-trd">
        <img src="img/grapes.jpg" alt="">
        <div class="posts__item-body">
            <h2 class="title">Crafts for Kids</h2>
            <div class="post-date">19 / 08 / 2022</div>
            <button class="btn btn--primary">Read more</button>
        </div>
    </div>
    <div class="posts__item">
        <img src="img/gift.jpg" alt="">
        <div class="posts__item-body">
            <h2 class="title">Crafts for Kids</h2>
            <div class="post-date">19 / 08 / 2022</div>
            <button class="btn btn--primary">Read more</button>
        </div>
    </div>
</div>

<div class="media">
    <div class="media__meta">
        <h2 class="title">5 вещей, понравившиеся мне недавно</h2>
        <span class="media__cta">Посмотреть <i class="icon icon--chevron-right"></i></span>
        <span class="media__info"><i class="icon icon--youtube"></i>12К Youtube подписчиков</span>
    </div>
    <div class="media__content">
        <div class="youtube-embed">
            <iframe width="853" height="480" src="https://www.youtube.com/embed/UTHgr6NLeEw?rel=0&showinfo=0&autohide=1" title="Make Awesome SVG Animations with CSS // 7 Useful Techniques" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
        <img class="media__play-video" src="./img/thumb1.jpg" />
        <div class="video-play">
            <span></span>
            <span></span>
            <span></span>
        </div>
    </div>
</div>

<div class="test">
    <p>
        Хотите выучить русский язык или улучшить уровень понимания русского? Если ваш ответ утвердительный, то вы попали в нужное место. На lingua.com есть тексты на русском языке с аудиофайлами и упражнениями для практики и улучшения понимания прочитанного.
    </p>
</div>

{% endblock %}
